@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Roboto+Slab:wght@100&family=Spectral&display=swap');

@font-face{
    font-family:"cardinal"; 
    src:url("fonts/Cardinal.ttf");
}

@font-face{
    font-family:"perrygot"; 
    src:url("fonts/PERRYGOT.TTF");
}

@font-face{
    font-family:"perrygot"; 
    src:url("fonts/Sketch\ Gothic\ School.ttf");
}

@font-face{
    font-family:"amika"; 
    src:url("fonts/Amika\ Blackletter\ Free\ Font.ttf");
}
@font-face{
    font-family:"rok"; 
    src:url("fonts/Ring\ of\ Kerry.otf");
}

/* Général */

html,body{
	margin: 0;
	padding:0;
	width: 100%;
}

html{
	scroll-behavior:smooth;
}

body{
	text-align:center;
	font-size: 25px;
    background-color: black;
	cursor: url(ressources/casque.ico) 2 2, pointer; 
}

h1{
    margin: 20px auto;
    color: black;
    font-family:"rok";
    padding: 10px;
    width: 60%;
	margin: auto;
	border: 5px solid black;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.301);
	font-size: 35px;
	text-shadow: 5px 5px 5px white;
}

#logo{
	width: 200px;
}
p , label {
    color: black;
	font-family:"amika";
	font-size: 30px;   
}

/* Navigation */

nav{
	margin-right: 60%;
	z-index: 1000;
	position: fixed;
}

nav a{
	font-size: 40px;
	color: black;
	padding:  10px;
	margin: 10px;
	text-decoration: none;
	font-size: 20px;
    font-weight: bold;
	background-color: #a7a7a7;
	box-shadow: 5px 5px 5px white;
	display: inline-block;
    font-family: 'Playfair Display SC', serif;
	border: 2px solid black;
	font-family: "cardinal";
}

nav a:hover{
	background-color: black;
	box-shadow: none;
	text-decoration: underline;
	color: white;
	transform: scale(1.05) translateY(-5px);	
}

/* Header */

header{
	background: url(ressources/fond4.jpg) no-repeat;
	border-bottom: 5px solid #a7a7a7;
	line-height: 42px;
	height: 1080px;
}

header h1{
	background-color: #a7a7a700;
	border: none;
	
}

header p{
	color: black;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 50px;
	font-size: 30px;
}

.para{
	width: 70%;
	margin: 30px auto;
	border: 5px solid black;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.301);
	padding: 10px;
}


header #logo{
    width: 400px;
}

.droite{
    width: 50%;
    margin-left: 40%;
}

#asso{
	color: black;
}

#vikings{
	text-shadow: 2px 2px 2px black ;
	color: rgb(11, 68, 116);
	font-size: 55px;
	font-family: "cardinal";
}


/* Les Membres */

#membres{
	background: url(ressources/fond5.jpg);
	border-bottom: 5px solid #a7a7a7;
}

#membres p{
	color: black;
	font-weight: bold;
}

li{
	list-style-type:none;
	height: 350px;
	color: black;
	font-size:80px;
	width: 20%;
	border: 5px solid black;
	border-radius: 20px;
	box-shadow: 5px 5px 5px;
	margin: 50px auto;
	padding-top: 200px;
}

li p{
	font-size: 35px;
    margin-top: 200px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #a7a7a7cc;
    font-family: "cardinal";
}

ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
}

#membre1{
	background: url(ressources/membre1.jpg) center;
}

#membre2{
	background: url(ressources/membre2.jpg) center;
}

#membre3{
	background: url(ressources/membre3.jpg) center;
}

#membre4{
	background: url(ressources/membre4.jpg) center;
}

#membre5{
	background: url(ressources/membre5.jpg) center;
}
#membre6{
	background: url(ressources/membre6.jpg) center;
}

#membre7{
	background: url(ressources/membre7.jpg) center;
}

#membre8{
	background: url(ressources/membre8.jfif) center;
}
#membre9{
	background: url(ressources/membre9.jpg) center;
}

#membre10{
	background: url(ressources/membre10.jpg) center;
}

#membre11{
	background: url(ressources/membre11.jpg) center;
}
#membre12{
	background: url(ressources/membre12.jfif) center;
}

.bleu{
	
	color: rgb(11, 68, 116);
	font-family: "cardinal";
	font-size: 35px;
	text-shadow: 2px 2px 2px black ;
}

/* La relève */

#releve{
	background: url(ressources/fond5.jpg);
	border-bottom: 5px solid #a7a7a7;
}

#photos{
    display: flex;
	justify-content: center;
}

#photos img{
    width: 300px;
    margin: 100px;
	border: 5px solid black;
	
}

#photos img:hover {
    outline: 20px solid rgb(73, 73, 73);
    transform: scale(1.05) translateY(-20px);
}

/* Alcool */

#alcool{
    background: url(ressources/fond3.jfif) no-repeat;
    border-bottom: 5px solid #a7a7a7;
	line-height: 50px;
}

#gauche{
    width: 70%;
    margin-right: 40%;
	margin: 30px;
}

/* Adhésion */

#adhesion {
	background: url(ressources/fond2.jpg) no-repeat;
    height: 1200px;
    line-height: 55px ;
}

#envoyer{
	font-size:20px;
	width: 200px;
	margin: 30px 100px;
	text-decoration:none;
	border: 2px solid black;
	border-radius:10px;
	background-color: #a7a7a7;
	font-size: 35px;
	cursor: pointer;
	font-family: "cardinal";
}

form{
	text-align:left;
	padding-left: 20%;
	padding-top: 20px;
	font-size: 35px;
	font-weight: bold;
}

form input, textarea, select{
	border-radius:10px;
	border: 2px solid black;
	text-align: center;
	outline:none; 
	font-size: 25px;
}

textarea {
	width: 90%;
}

label{
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

.ouiNon{
	text-decoration: none;
}

form p {
	font-size: 20px;
	color: white;
}